### Додавання

​Щоб додати дані до структури Series, потрібно вказати новий індекс для об'єкта та задати значення елементу:

In [1]:
import pandas as pd

In [2]:
data = pd.Series([1, 2, 3])
data[3] = 4
print(data)

0    1
1    2
2    3
3    4
dtype: int64

У DataFrame можна додавати як додаткові стовпці, так і цілі записи.

Додавання стовпця:

In [5]:
data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"}
}

employees = pd.DataFrame(data)
employees["age"] = [25, 32, 19]
print(employees)

      name    country  age
1  Michael     Canada   25
2     John        USA   32
3     Liza  Australia   19

Використовуючи метод ***concat***, можна об'єднати два об'єкти 

(було append - додати об'єкт Series як рядок).

In [24]:
data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)
new_employee = {"name": "John", "country": "Denmark", "age": 23}
new_employee_df = pd.DataFrame([new_employee])
employees = pd.concat([employees, new_employee_df], ignore_index=True)

print(employees)

      name    country  age
0  Michael     Canada   25
1     John        USA   32
2     Liza  Australia   19
3     John    Denmark   23