### Очищення

Ідеальних даних не буває. У ході будь-яких експериментальних досліджень, виходять набори даних з некоректними або відсутніми значеннями.

Бібліотека pandas надає різноманітні методи для обробки подібних відсутніх значень, включаючи функції для видалення або заміни некоректних точок даних на середні значення або значення за замовчуванням

**dropna** 

повертає новий об'єкт DataFrame з рядками, що містять лише ненульові дані:

In [2]:
import numpy as np
import pandas as pd

In [6]:
data = pd.DataFrame([[1, 2, 3], [4, np.nan, 6], [7, np.nan, np.nan]])

print(data)

data = data.dropna()
print("Cleaned:")
print(data)

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  NaN  NaN
Cleaned:
   0    1    2
0  1  2.0  3.0

Можливо відкинути лише рядки (або стовпці), що складаються повністю зі значень **NaN**. У цьому випадку в метод ***dropna*** передається аргумент *how='all'* замість *how='any'*, що використовується за замовчуванням.

Якщо необхідно замінити, а не відкинути дані, ми знаємо, що можна використовувати метод ***fillna***. Наприклад, для заміни відсутніх даних у стовпцях середніми значеннями за цими стовпцями:

In [8]:
data = pd.DataFrame([[1, 2, 3], [4, np.nan, 6], [7, np.nan, np.nan]])

data = data.fillna({0: data[0].mean(), 1: data[1].mean(), 2: data[2].mean()})

print(data)

   0    1    2
0  1  2.0  3.0
1  4  2.0  6.0
2  7  2.0  NaN

Якщо необхідно ***замінювати конкретні значення***, а не NaN існує схожий метод **replace** (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)

Для **видалення дублюючих** даних можна використовувати метод **drop_duplicates**

In [10]:
data = {
    "name": ["Michael", "Steve", "Liza", "Jhon", "Liza", "Jhon"],
    "country": ["Canada", "USA", "Australia", "Denmark", "Australia", "Denmark"],
    "age": [25, 32, 19, 23, 19, 23]
}

employees = pd.DataFrame(data)
print(employees)
employees = employees.drop_duplicates()
print("No dublicates:")
print(employees)

      name    country  age
0  Michael     Canada   25
1    Steve        USA   32
2     Liza  Australia   19
3     Jhon    Denmark   23
4     Liza    Austria   19
5     Jhon      Japan   23
No dublicates:
      name    country  age
0  Michael     Canada   25
1    Steve        USA   32
2     Liza  Australia   19
3     Jhon    Denmark   23
4     Liza    Austria   19
5     Jhon      Japan   23