### Видалення

**drop**

Методу як аргумент передається список міток для видалення. При цьому поточна структура не змінюється, а повертається ***новий об'єкт Series***, в якому відсутні вказані мітки. 



Якщо потрібно змінити вихідну структуру, то можна передати методу аргумент *inplace* зі значенням True:

In [1]:
import pandas as pd

In [2]:
numbers = pd.Series([1, 2, 3, 4, 5])
numbers.drop([1, 3], inplace=True)
print(numbers)

0    1
2    3
4    5
dtype: int64

Для видалення елементів зі структури DataFrame також застосовується метод drop:

In [3]:
data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)

employees = employees.drop(["2"])
print(employees)

      name    country  age
1  Michael     Canada   25
3     Liza  Australia   19

Щоб видаляти **стовпці**, необхідно вказати вісь через параметр *axis* за замовчуванням *axis=0*, що означає роботу з рядками. 

Якщо вказати *axis=1*, то це дозволить **видаляти стовпці**:

In [5]:
data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)
employees = employees.drop(["age"], axis=1)
print(employees)

      name    country
1  Michael     Canada
2     John        USA
3     Liza  Australia